<h1 xmlns="http://www.w3.org/1999/html">{{title}}</h1>
<hr>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-striped">

                <thead>
                <tr>
                    <th>ID</th>
                    <th>Base Currency</th>
                    <th>Quote Currency</th>
                    <th>Min Size</th>
                    <th>Max Size</th>
                    <th>Name</th>
                    <th>Status</th>
                    <th>Min Market Funds</th>
                    <th>Max Market Funds</th>
                </tr>
                </thead>
                <tbody>

                {{#each data}}
                    <tr>
                        <td><a href="/gdax/history/{{this.id}}">{{this.id}}</a></td>
                        <td>{{this.base_currency}}</td>
                        <td>{{this.quote_currency}}</td>
                        <td>{{this.base_min_size}}</td>
                        <td>{{this.base_max_size}}</td>
                        <td>{{this.display_name}}</td>
                        <td>{{this.status}}</td>
                        <td>{{this.min_market_funds}}</td>
                        <td>{{this.max_market_funds}}</td>
                    </tr>
                {{/each}}

                </tbody>
            </table>
        </div>
    </div>
</div>